<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Playground-Basic</string>
	<string>Playground-Closure</string>
	<string>Playground-Enum</string>
	<string>Playground-Function</string>
	<string>Playground-Generic</string>
	<string>Playground-Optional</string>
	<string>Playground-Struct</string>
	<string>Playground-Subscript</string>
	<string>Airdrop</string>
	<string>AVFoundationQRcode</string>
	<string>AlertC</string>
	<string>AnimationQuartzCore</string>
	<string>AnimationGesture</string>
	<string>BasicAgenda</string>
	<string>Calendar</string>
	<string>iBeacon</string>
	<string>ChatPeer2Peer</string>
	<string>CollectionView-ImageCache</string>
	<string>CoreAnimation</string>
	<string>CoreData</string>
	<string>CoreImage</string>
	<string>CoreLocation</string>
	<string>GestureForPhoto</string>
	<string>CustomKeyboard</string>
	<string>AppGuidePage</string>
	<string>BezierPath</string>
	<string>LayoutForVFL</string>
	<string>CardGameSizeClasses</string>
	<string>PoetrySqlite</string>
	<string>JavaScriptCore</string>
</array>
</plist>
